In [1]:
from bs4 import BeautifulSoup 
import requests
import pandas as pd
import sqlalchemy

### HTTP Request

#### store website in variable

In [2]:
url='https://www.skyscrapercenter.com/buildings'

In [3]:
response=requests.get(url)

#### status code

In [4]:
response

### Soup Object

In [7]:
soup =BeautifulSoup(response.content,'html.parser')

In [27]:
soup

### Results

In [9]:
# starting point
results=soup.find('table',{'id':'buildingsTable'}).find('tbody').find_all('tr')

In [10]:
len(results)

100

### Find your Data

In [12]:
# name
results[0].find_all('td')[1].get_text().strip()

'Burj Khalifa'

In [13]:
# city
results[0].find_all('td')[2].get_text().strip()

'Dubai'

In [14]:
# completion_year
results[0].find_all('td')[4].get_text().strip()

'2010'

In [18]:
# height
results[0].find_all('td')[5].find_all('p')[2].get_text()

'2,717 ft'

In [16]:
# floors
results[0].find_all('td')[6].get_text().strip()

'163'

In [17]:
# material
results[0].find_all('td')[7].get_text().strip()

'Steel Over Concrete'

In [19]:
# function
results[0].find_all('td')[8].get_text().strip()

'Office / Residential / Hotel'

#### put everything together - For Loop

In [23]:
name=[]
city=[]
completion_year=[]
height=[]
floors=[]
material=[]
function=[]

for i in results:
    name.append(i.find_all('td')[1].get_text().strip())
    city.append(i.find_all('td')[2].get_text().strip())
    completion_year.append(i.find_all('td')[4].get_text().strip())
    height.append(i.find_all('td')[5].find_all('p')[2].get_text())
    floors.append(i.find_all('td')[6].get_text().strip())
    material.append(i.find_all('td')[7].get_text().strip())
    function.append(i.find_all('td')[8].get_text().strip())

#### pandas dataframe

In [25]:
df_buildings=pd.DataFrame({'name':name,'city':city,
'completion_year':completion_year,'height':height,
'floors':floors,'material':material,'function':function})

In [26]:
df_buildings

,name,city,completion_year,height,floors,material,function
0,Burj Khalifa,Dubai,2010,"2,717 ft",163,Steel Over Concrete,Office / Residential / Hotel
1,Shanghai Tower,Shanghai,2015,"2,073 ft",128,Concrete-Steel Composite,Hotel / Office
2,Makkah Royal Clock Tower,Mecca,2012,"1,972 ft",120,Steel Over Concrete,Serviced Apartments / Hotel / Retail
3,Ping An Finance Center,Shenzhen,2017,"1,965 ft",115,Concrete-Steel Composite,Office
4,Lotte World Tower,Seoul,2017,"1,819 ft",123,Concrete-Steel Composite,Hotel / Residential / Office / Retail
...,...,...,...,...,...,...,...
95,Tianjin World Financial Center,Tianjin,2011,"1,105 ft",75,Concrete-Steel Composite,Office
96,SLS Dubai,Dubai,2020,"1,101 ft",75,All-Concrete,Hotel / Serviced Apartments / Residential
97,Wilshire Grand Center,Los Angeles,2017,"1,100 ft",62,Concrete-Steel Composite,Hotel / Office
98,DAMAC Heights,Dubai,2018,"1,099 ft",88,All-Concrete,Residential
99,"Twin Towers Guiyang, East Tower",Guiyang,2020,"1,099 ft",74,Concrete-Steel Composite,Office

#### Export

In [ ]:
# csv
df_buildings.to_csv('buildings.csv',sep=';',encoding='utf-8-sig', index=False)

In [ ]:
# excel
df_buildings.to_excel('buildings.xlsx',index=False)

In [ ]:
# json
df_buildings.to_json('buildings.json', orient='records', lines=True,force_ascii = False)

In [ ]:
# postgresql
engine = sqlalchemy.create_engine('postgres://postgres:12345@localhost:5432')
df_buildings.to_sql('buildings', engine, index=False)